$toolbarHeight: 64px;
$actionsbarHeight: 64px;

.page-home {
  position: relative;
  background-color: white;

  .messages {
    height: calc(100vh - #{$actionsbarHeight} - #{$toolbarHeight});
    overflow-y: scroll;
    padding: 20px;
    color: #000000de;
    display: flex;
    flex-direction: column;
  }

  .actions {
    height: $actionsbarHeight;
    position: fixed;
    bottom: 0px;
    width: 100%;
    padding: 0px 20px;
    background-color: #303030;

    form {
      position: relative;
      display: flex;
      align-items: center;
      height: 100%;
      // font-size: 13px;

      .mat-form-field,
      .mathfield-wrapper {
        flex: auto;
        // height: 100%;
        margin: 0 20px;
      }

      .mathfield-wrapper {
        position: absolute;
        top: 0px;
        left: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }
  }
}

::ng-deep {
  .page-home {
    .mat-form-field-wrapper {
      margin-bottom: -1.34375em;
    }

    math-field {
      outline: none;
      font-size: 32px;
      background-color: rgba(255, 255, 255, .1)
    }
  }
}
